/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;

$skipComponentStyles: (cx-mini-cart);

@import '~@spartacus/styles/index';

header .SiteLogo {
    width: 170px;
}